In [61]:
import pandas as pd
import numpy as np

In [62]:
df = pd.read_csv('borg_traces_data.csv')

In [63]:
df.shape

(405894, 34)

In [64]:
df.head()

,Unnamed: 0,time,instance_events_type,collection_id,scheduling_class,collection_type,priority,alloc_collection_id,instance_index,machine_id,...,assigned_memory,page_cache_memory,cycles_per_instruction,memory_accesses_per_instruction,sample_rate,cpu_usage_distribution,tail_cpu_usage_distribution,cluster,event,failed
0,0,0,2,94591244395,3,1,200,0,144,168846390496,...,0.014435,0.000415,NaN,NaN,1.0,[0.00314331 0.00381088 0.00401306 0.00415039 0...,[0.00535583 0.00541687 0.00548553 0.00554657 0...,7,FAIL,1
1,1,2517305308183,2,260697606809,2,0,360,221495397286,335,85515092,...,0.000000,0.000000,NaN,NaN,1.0,[1.23977661e-05 1.23977661e-05 1.23977661e-05 ...,[1.23977661e-05 1.23977661e-05 1.23977661e-05 ...,7,FAIL,1
2,2,195684022913,6,276227177776,2,0,103,0,376,169321752432,...,0.010422,0.000235,0.939919,0.001318,1.0,[0.01344299 0.01809692 0.0201416 0.02246094 0...,[0.02902222 0.02929688 0.0295105 0.0296936 0...,7,SCHEDULE,0
3,3,0,2,10507389885,3,0,200,0,1977,178294817221,...,0.041626,0.000225,1.359102,0.007643,1.0,[0.03704834 0.04125977 0.04290771 0.04425049 0...,[0.05535889 0.05584717 0.05633545 0.05718994 0...,8,FAIL,1
4,4,1810627494172,3,25911621841,2,0,0,0,3907,231364893292,...,0.000272,0.000010,NaN,NaN,1.0,[0. 0. 0. 0. 0...,[0.00041485 0.00041485 0.00041485 0.00041485 0...,2,FINISH,0

In [65]:
df = df[['scheduling_class','priority','scheduler','collection_type','vertical_scaling',
         'start_after_collection_ids','resource_request','assigned_memory','constraint',
         'average_usage','maximum_usage','page_cache_memory','cpu_usage_distribution',
         'tail_cpu_usage_distribution','sample_rate','cycles_per_instruction','memory_accesses_per_instruction']]

In [66]:
df.shape

(405894, 17)

In [67]:
df.describe()

,scheduling_class,priority,scheduler,collection_type,vertical_scaling,assigned_memory,page_cache_memory,sample_rate,cycles_per_instruction,memory_accesses_per_instruction
count,405894.000000,405894.000000,404935.000000,405894.000000,404935.000000,405894.000000,405894.000000,405894.000000,281206.000000,281206.000000
mean,1.266870,147.913793,0.370422,0.087782,1.858740,0.008927,0.000398,0.999223,2.185379,0.010722
std,1.014087,116.656633,0.482918,0.282977,0.754768,0.024937,0.000550,0.010239,1.256117,0.007753
min,0.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.110000,0.252846,0.000125
25%,0.000000,103.000000,0.000000,0.000000,1.000000,0.000196,0.000008,1.000000,1.067229,0.004329
50%,1.000000,105.000000,0.000000,0.000000,2.000000,0.002693,0.000227,1.000000,1.918681,0.009506
75%,2.000000,200.000000,1.000000,0.000000,2.000000,0.006683,0.000539,1.000000,3.156894,0.016435
max,3.000000,450.000000,1.000000,1.000000,3.000000,0.286133,0.008453,1.000000,105.275932,0.084292

In [68]:
df.isnull().sum()

scheduling_class                        0
priority                                0
scheduler                             959
collection_type                         0
vertical_scaling                      959
start_after_collection_ids              0
resource_request                      774
assigned_memory                         0
constraint                              0
average_usage                           0
maximum_usage                           0
page_cache_memory                       0
cpu_usage_distribution                  0
tail_cpu_usage_distribution             0
sample_rate                             0
cycles_per_instruction             124688
memory_accesses_per_instruction    124688
dtype: int64

In [69]:
mean_cycle=df['cycles_per_instruction'].mean()
mean_access = df['memory_accesses_per_instruction'].mean()
mode_scheduler = df['scheduler'].mode()
mode_verticalScaling = df['vertical_scaling'].mode()

In [70]:
print(mode_scheduler)

0    0.0
Name: scheduler, dtype: float64

In [71]:
df['cycles_per_instruction'].fillna(mean_cycle,inplace=True)
df['memory_accesses_per_instruction'].fillna(mean_access,inplace=True)
df['scheduler'].fillna(mode_scheduler,inplace=True)
df['vertical_scaling'].fillna(mode_verticalScaling,inplace=True)

/var/folders/99/kntm23_n1dv6dzph2tmmf9j40000gn/T/ipykernel_35763/2313188122.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['cycles_per_instruction'].fillna(mean_cycle,inplace=True)
/var/folders/99/kntm23_n1dv6dzph2tmmf9j40000gn/T/ipykernel_35763/2313188122.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['memory_accesses_per_instruction'].fillna(mean_access,inplace=True)
/var/folders/99/kntm23_n1dv6dzph2tmmf9j40000gn/T/ipykernel_35763/2313188122.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['scheduler'].fillna(mode_scheduler,inplace=True)
/var/folders/99/kntm23_n1dv6dzph2tmmf9j40000gn/T/ipykernel_35763/2313188122.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['vertical_scaling'].fillna(mode_verticalScaling,inplace=True)

In [72]:
df.dropna(subset=['scheduler', 'vertical_scaling', 'resource_request'], inplace=True)

In [73]:
df.isnull().sum()

scheduling_class                   0
priority                           0
scheduler                          0
collection_type                    0
vertical_scaling                   0
start_after_collection_ids         0
resource_request                   0
assigned_memory                    0
constraint                         0
average_usage                      0
maximum_usage                      0
page_cache_memory                  0
cpu_usage_distribution             0
tail_cpu_usage_distribution        0
sample_rate                        0
cycles_per_instruction             0
memory_accesses_per_instruction    0
dtype: int64

In [74]:
df.shape

(404161, 17)